.gray-100 {
  @apply text-gray-100;
}

.gray-200 {
  @apply text-gray-200;
}

.gray-300 {
  @apply text-gray-300;
}

.gray-400 {
  @apply text-gray-400;
}

.gray-500 {
  @apply text-gray-500;
}

.gray-600 {
  @apply text-gray-600;
}

.gray-700 {
  @apply text-gray-700;
}


.gray-800 {
  @apply text-gray-800;
}

.white {
  @apply text-white;
}

.black {
  @apply text-black;
}
